# App
NEXT_PUBLIC_APP_URL=https://openboxcomm.in

# Discord Invites
NEXT_PUBLIC_DISCORD_INVITE_MAIN=
NEXT_PUBLIC_DISCORD_JN_INVITE=
NEXT_PUBLIC_DISCORD_DEV_INVITE=
NEXT_PUBLIC_DISCORD_GG_INVITE=

# Socials
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_PATREON_URL=
NEXT_PUBLIC_X_URL=
